.home-container {
    text-align: center;
    padding: 60px 20px;
}

.home-container h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.home-container p {
    color: #d7d5d5;
    font-size: 18px;
    margin-bottom: 15px;
}

.home-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.home-btn {
  padding: 12px 26px;
  background: linear-gradient(145deg, var(--nova-primary), var(--nova-secondary));
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  position: relative; 
  overflow: hidden; 
  z-index: 1;
  transition: transform 0.2s, opacity 0.2s, box-shadow 0.3s ease-in-out;
}

.home-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  transition: all 0.7s ease-in-out;
}

.home-btn:hover {
  opacity: 0.9;
  background: linear-gradient(145deg, rgb(129, 157, 197), rgb(57, 60, 190));
  transform: translateY(-1px);
  box-shadow: 
    0 0 10px rgba(110, 157, 223, 0.25);
}

.home-btn:hover::before {
  left: 150%;
}

.home-btn:active {
  transform: translateY(0);
}