.navbar {
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.50),
            rgba(0, 0, 0, 0.40));
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-logo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    pointer-events: none;
}

h2 {
    background: linear-gradient(to right, #4254f4, #87b1ef);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s ease;
}

.nav-item:hover {
    color:#4254f4;
}

.nav-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
}

.nav-clickable {
    cursor: pointer;
}

.hamburger {
  cursor: pointer;
  transition: transform 0.4s ease, opacity 0.4s ease;
  display: none;
  align-items: center;
}

.hamburger.open {
  transform: rotate(90deg) scale(1.1);
}

.nva {
    display: flex;
    gap: 10px;
    pointer-events: none;
}

.icon {
    color: #4254f4;
    margin-top: 3px;
}

@media (max-width: 900px) {
    .hamburger {
        display: block;
    }

    .navbar {
        height: 60px;
        padding: 0 15px;
        flex-direction: row;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        width: 40%;
        background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.40),
                rgba(0, 0, 0, 0.50));
        flex-direction: column;
        gap: 15px;
        padding: 15px 20px;
        display: none;
    }


    .nav-links.open {
        display: flex;
    }

    .nav-item {
        font-size: 16px;
        padding: 10px 0;
    }
}


@media (max-width: 500px) {
    .nav-logo {
        font-size: 18px;
    }
}